/*
Francis Beaudoin, BEAF21069107
Frédéric Pitel, PITF16088608
*/

body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-family: arial, sans serif;
	background-color: lightblue;
}

header {
	height: 75px;
	width: 100%;
	text-align: center;
    background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	opacity: 1;
	color: #999;
}

#menu {
	margin-left: 80px;
	z-index: 10;
	position: absolute;
	white-space: nowrap;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#menu li {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

#menu a, #airline {
	display: block;
	padding: 15px 40px;
	text-decoration: none;
	color: #EEE;
	background-color: #222;
	border: solid 1px;
}

#menu > li:hover > a {
	background-color: #000;
	transition: 0.4s all
}

#menu ul > li:hover > a {
	background-color: #000;
	transition: 0.4s all
}

#menu > li > a, #airline {
	color: #EEE;
	font-size: 125%
}

#menu ul {
	position: absolute;
	min-width: 100%;
}

#menu ul li {
	display: inherit;
	overflow: hidden;
	max-height: 0;
	transition: all 0.4s;
	padding: 0;
	margin: 0;
	border: inherit;
	background-color:inherit;
	text-align: center;
}

#menu ul li a {
	padding: 10px 15px;
}

#menu li:hover li {
	max-height: 15em;
	overflow: visible;
}

#menu ul ul {
	left: 100%;
	top: 0;
	overflow: hidden;
	max-height: 0;
}

#menu ul li:hover ul {
  	overflow: visible;
    max-height: 30em;
}

#menu ul ul li {
	max-height: inherit;
	border: inherit;
}

#menu ul ul li a {
	border: none;
	padding: 0;
}

input[type=checkbox] {
	transform: scale(1.5);
	margin-left: 15px;
}

#airline {
	padding: 0 150px 0 0 !important;
	cursor: default  !important;
}

#airline input, #airline div, #airline img {
	display: inline-block;
	vertical-align: top;
}

#airline div {
	margin-top: 17px;
}

#airline input {
	margin-top: 12px;
	font-size: 20px;
}

#decollage {
	margin-left: 50px;
	margin-right: 10px;
}

#recommencer, #airline div {
	margin-right: 100px;
}

#logo {
	height: 52.5px;
}

#carte {
	text-align: center;
	margin-bottom: 20px;
	position: absolute;
}

#images {
	display: inline-block;
}

#imageCarte {
	height: 750px;
	width: 1575px;
	position: absolute;
	top: 0;
	left: 80px;
	z-index: -5;
}


#infoVol {
	position: absolute;
	z-index: 15;
	top: 150px;
	left: 1650px;
	width: 150px;
	font-weight: bold;
	text-align: center;
	font-size: 24px;
	overflow: hidden;
	margin-bottom: 60px;
}


.etiquettes {
	color: lightgray;
    text-shadow:-3px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.info, .escale {
	background-color: white;
	border: 3px solid black;
	height: 40px;
	padding-top: 7px;
	margin-bottom: 10px;
}

#avion {
	position: absolute;
	z-index: 15;
	display: none;
}

#boxInfoVol {
	background: rgba(255,255,255,0.5);
	position: absolute;
	z-index: 16;
	display: none;
	white-space: nowrap;
}

#equipage {
	background: #DDDDFF;
	height: 180px;
	width: 716px;
	margin: 630px 0px 30px 80px;
	position: relative;
	overflow: hidden;
}

#precedent, #suivant {
	margin: 0;
	padding: 0;
	height: 180px;
	width: 50px;
	font-size: 200%;
	text-align: center;
	line-height: 180px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	-webkit-user-select: none;       
	-moz-user-select: none; 
	-ms-user-select: none; 
}

#precedent:hover, #suivant:hover {
	font-size: 275%;
}

#precedent {
	top: 0;
	left: 0;
	background: #777777;
}

#suivant {
	top: 0;
	right: 0;
	background:#555555;
}

#fenetre {
	width: 4000px;
	height: 180px;
	position: relative;
	left: 50px;
	transition: 1.0s all
}

#fenetre img {
	height: 150px;
	width: 150px;
}

.membre {
	float: left;
	width: 150px;
	height: 176px;
	text-align: center;
	border: 2px solid black;
}

.nom {
	display: block;
	font-size: 12px;
}


.flottante {
	border: solid 3px;
	margin: 30px;
	margin-left: 5px;
	max-height: 480px;
	max-width: 720px;
	float: right;
} 

.description {
	margin-left: 30px;
	margin-bottom: 60px;
	color: #0A0A0A;
}

.description h1 {
	font-size: 80%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
    height: 50px;
    width: 100%;
    background: #212121;
    display: table;
    text-align: center; 
	color: #999;
	z-index: 1000;
}

#copyright {
	vertical-align: middle;
    display: table-cell;
    font-style: italic;
    font-weight: bold;
}